* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  color: rgb(104, 104, 104);
}

html {
  background-color: #dfdafa;
}

body {
  display: flex;
  justify-content: center;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: auto;
  border: 1px solid #d3d3d3;
  box-shadow: 1px 3px 5px #d3d3d3;
  background-color: #fff;
}

section {
  width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 12px;
}

.head {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 20px 0;
  margin: 0 20px;
}

.head img {
  height: 16px;
  filter: invert();
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form img {
  height: 10px;
  filter: invert(30%);
  padding-right: 20px;
}

.form input {
  width: 100%;
  height: 50px;
  border: 0;
  font-size: 12px;
  font-style: italic;
  padding-left: 20px;
}

.container {
  display: flex;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
  border-top: 1px solid #d3d3d3;
}

.container label {
  flex: 1;
  font-size: 12px;
  color: #8f8f8f;
}

.container input {
  margin: 5px;
  margin: 0 20px;
}

.container img {
  height: 12px;
  filter: invert();
  margin: 0 20px;
}

.button {
  width: 100%;
  border: 0;
  padding: 20px;
  border-top: 1px solid #d3d3d3;
  font-size: 14px;
  color: #d3d3d3;
}

.button:hover {
  color: rgb(121, 121, 121);
}

.checkbox {
  display: flex;
}
